extends layout 

block content 
  h1= title
  div.post
    div.member-view
      p #{post.username}
      p #{humanDate(post.created_at)}
    h3.post-title #{post.title}
    p #{post.content}
  
  form(action="" method="POST")
    input(type="hidden" value=post.id name="id")
    button.delete-btn Delete
    