extends layout

block content
  h1= title
  div
    if user
      h2 Welcome #{user.username}
    each post in posts
      div
        h3 #{post.title}
        if user && user.isMember
          p #{post.author.username}
          p #{post.humanDate}
        p #{post.content}
