extends layout

block content
  h1= title 
  form.form(action="" method="POST")
    div
      label(for="title") Title:
      input#title(name="title" required maxlength="100" value=postTitle || "")
      if errors && errors.title
        p= errors.title.msg
    div
      label(for="content") Enter your post here: 
      textarea#content(name="content" required maxlength="1000" || "")
        | #{content}
      if errors && errors.content
        p= errors.content.msg
    button.submit Post New Message
